@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-900;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
